.app-header {
	background-color: lighten($light-gray, 10%);
	height: 40px;
	padding: 20px;
  color: white;
  
  img, span {
    cursor: pointer;
  }

	.app-logo {
		height: 40px;
		float: left;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .nav-items {
    float: right;
    margin-right: 20px;

    img {
      height: 25px;
      margin-top: 10px;
      margin-right: 20px;
      
      &:nth-child(2) {
        height: 20px;
        padding-bottom: 2px;
      }
    }

    span {
      float: right;
      display: block;
      margin: 15px 0px 0px 0px;
      color: $dark-gray;
    }
  }
}